﻿@*@if (Session["UserId"] == null)
{
    Response.Redirect("http://localhost:51107/User/login");
}
else
{*@

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Mann Crafted</h1>
        <p class="lead">Hand Crafted Flag Boxes made in the US for Veterans.</p>
        <img src="Content/Img/Flag Box 2x6 Base.jpg" height="250" width="325" />
        <img src="Content/Img/Flag Box Medal Case Base.jpg" height="250" width="300" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Check out current inventory of boxes.
            </p>
            <p>Limited one Per Customer</p>
            <p>If a stain isn't listed we take requests for specific stains, even whole new project ideas!</p>
            <p><a class="btn btn-default" href="http://localhost:51107/Purchase/Create">Flag Box &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>We take requests!</h2>
            <p>Contact us using E-mail or give us a call for purchasing more than one box or a special stain</p>
            <p><a class="btn btn-default" href="http://localhost:51107/Home/Contact">Contact Us! &raquo;</a></p>
        </div>
    </div>
@*}*@